<mat-card>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        [ngModel]="post?.title"
        required
        minlength="3"
        placeholder="Titulo"
        #title="ngModel">
      <mat-error *ngIf="title.invalid">Por favor ingrese un titulo</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
        [ngModel]="post?.content"
        required
        placeholder="Contenido"
        #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Por favor ingrese un contenido</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit">Guardar</button>
  </form>
</mat-card>
